/*
  Contributors: Sam Alhaqab 017018649
  Course: CECS 470

  Description: This scss class styles the loading animation component.
*/

// gloabl theme imports
@import "../../assets/theme";

// keyframes to display a rotating border
@keyframes rotate360 {
  from {
    transform: rotate(0);
    // border-radius: 0;
  }
  to {
    transform: rotate(360deg);
    // border-radius: 50%;
  }
}

// key frames to change the color of the component
@keyframes colorShift {
  0% {
    // transform: rotate(0);
    fill: $background;
  }
  50% {
    // transform: rotate(360deg);
    fill: $primary;
  }
  100% {
    fill: $background;
  }
}

// the parent container of the animation component which styles the layout of the animation
.loading-animation {
  display: flex;

  justify-content: center;
  align-items: center;

  margin: 1rem;

  // optionally displayed text
  .animation-text {
    margin: 1rem;
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    white-space: nowrap;
    color: $background_light;

    background-color: $secondary;
    padding: 0.3rem 0.5rem;
  }

  // rotating background container
  .square-container {
    position: relative;
    overflow: hidden;

    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    margin: 0.5rem;

    transform: rotate(45deg);

    transition: border-radius 250ms linear;

    // rotating dark blue border
    .outer-square {
      position: absolute;
      top: -3rem;
      left: -3rem;
      width: 10rem;
      height: 10rem;

      transform: rotate(-45deg);

      background: linear-gradient(
        45deg,
        $secondary 50%,
        rgb(250, 244, 244) 50%
      );

      animation: rotate360 infinite 2s ease-in-out;
    }

    // static inner square with svg
    .inner-square {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 3rem;
      height: 3rem;

      background-color: $primary;

      display: flex;
      justify-content: center;
      align-items: center;
      transition: border-radius 250ms linear;

      svg {
        transform: rotate(-45deg);

        path {
          fill: white;
        }
      }
    }

    &:hover {
      border-radius: 50%;
      .inner-square {
        border-radius: 50%;
      }
    }
  }

  .circle-animation {
    animation: circle forwards 500ms linear;
  }
}

.animation-text-orientation-vertical {
  flex-direction: column;
}

.animation-background {
  background-color: rgb(175, 175, 180);

  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);

  border-radius: 3px;
}
