// global themes import
@import "../../assets/theme";

// styles button container with desired size and placement of contents
.circle-btn-container {
  cursor: pointer;
  background-color: $primary;

  width: 2.5rem;
  height: 2.5rem;
  min-width: 2.5rem;
  max-width: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    path {
      fill: $secondary;
    }
  }
}

// rotates button
.hover-rotate {
  svg {
    transition: transform 250ms ease;
  }

  &:hover {
    svg {
      transform: rotate(180deg);
    }
  }
}
