/*
  Contributors: Julie Do 014101748
  Course: CECS 470

  Description: This scss class styles the contact us page component.
*/

// GLOABL THEME IMPORTS
@import "../../assets/theme";

// This is the main page container laying out the background of the page.
.contact-us-page-background {
  background-color: transparent;
}

// This class is used to style the contents of the contact us page.
.contact-us-page {
  width: 40rem;
  max-width: 100%;

  margin: 0 auto;
  padding-top: 3rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

// This class is used to style the contact us page title.
.contact-us-title {
  color: $primary;
  font-weight: bolder;
  font-size: 2em;
  margin: 0 auto 1.3rem auto;
}

// This class is used to style the contact us form.
.contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .textarea-input {
    height: 20rem;
  }

  .captcha {
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
  }
}

// This class is used to style the captcha requirements warning.
.contact-requirement {
  text-transform: uppercase;
  color: $primary;
  font-weight: bold;
  text-align: center;
}
