@import "../../assets/theme";

.contact-us-page-background {
  background-color: transparent;
}

.contact-us-page {
  width: 40rem;
  max-width: 100%;

  margin: 0 auto;
  padding-top: 3rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

.contact-us-title {
  color: $primary;
  font-weight: bolder;
  font-size: 2em;
  margin: 0 auto 1.3rem auto;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .textarea-input {
    height: 20rem;
  }

  .captcha {
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
  }
}

.contact-requirement {
  text-transform: uppercase;
  color: $primary;
  font-weight: bold;
  text-align: center;
}
