// global theme imports
@import "../../assets/theme";

// parent container for the tag component, styled the items inside of it
.tag-container {
  width: fit-content;
  height: 1.2rem;
  max-height: fit-content;
  padding: 0.1rem 0.5rem;
  background-color: $secondary;
  margin: 2px;

  color: $background_light;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;

  border-left: 5px solid $primary;

  display: flex;
  justify-content: center;
  align-items: center;

  // styles the tag input
  .tag-input {
    background-color: transparent;

    width: 7rem;

    border-radius: 0;
    outline: 0;
    border: 0;

    color: $background_light;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;

    &::placeholder {
      color: $background_light;
      opacity: 0.8;
      font-weight: normal;
      font-style: italic;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .hidden {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }
}
