@import "../../assets/theme";

.tag-view {
  color: $secondary;

  margin: 0 5px 0 0;
  font-style: italic;

  display: inline;
}

.form {
  height: min-content;
  width: min-content;

  border: solid 1px black;
  border-radius: 30px;

  margin: 0;
  padding: 0;
  min-width: 0;

  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-areas: " button input ";

  transition: width 10s ease;
  .button {
    cursor: pointer;

    grid-area: button;
    height: min-content;
    width: min-content;

    padding: 0;
    margin: 0;

    outline: 0;

    display: flex;
    justify-content: center;

    background: none;
    border: none;

    svg {
      height: 30px;
      width: 30px;
    }

    // transition: width ease 3s;
  }

  .input {
    grid-area: input;

    align-self: center;

    .input-text {
      outline: none;
      color: $secondary;

      width: 0px;
      background: none;
      border: none;
      -webkit-transition: width 10s ease-in-out;
      transition: width 0.3s ease-in-out;
    }

    .input-text-hover {
      margin-right: 15px;
      display: flex;

      width: 7em;
      // border: none;
      border-bottom: 1px solid grey;
      // background: none;
      -webkit-transition: width 10s ease-in-out;
      transition: width 0.3s ease-in-out0;
    }
  }

  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
}

div.form:hover {
  .input {
    .input-text {
      margin-right: 15px;
      display: flex;

      width: 7em;
      // border: none;
      border-bottom: 1px solid grey;
      // background: none;
      -webkit-transition: width 10s ease-in-out;
      transition: width 0.3s ease-in-out0;
    }
  }
}

.tag-delete {
  display: flex;
  flex-direction: row;

  label {
    // display: inline;

    color: $secondary;

    margin: 0 2px;
  }

  .button {
    background: none;
    border: none;
    svg {
      margin: auto 0;

      height: 12px;
      width: 12px;

      cursor: pointer;
    }
  }
}
