# FRONTEND
/frontend/.env
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# BACKEND
/backend/.env
/backend/__pycache__
/backend/models/__pycache__
/backend/routes/__pycache__
/backend/services/__pycache__
/backend/build
/backend/venv

# ROOT
/.vscode
