// global theme import
@import "../../assets/theme";

// styles the container for the entire image card, including the image, the name, and the rating of the restaurant
.image-container {
  position: relative;

  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $secondary;

  // displays and styles restaurant name and rating
  .pop-up-details-container {
    display: none; // hides the details at first
    position: absolute;
    z-index: 3;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    .pop-up-details-box {
      padding: 0.5rem;
      background-color: rgba($background_light, 0.9);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        width: 100%;
        color: $secondary_dark;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;

        margin-bottom: 0.5rem;
      }
    }
  }

  // surrounds image with a spotlight overloy
  .spotlight-mask {
    position: absolute;
    z-index: 2;

    left: 0;
    top: 0;
    border-radius: 50%;

    width: 100%;
    height: 100%;
    opacity: 0; // hides the mask at first

    box-shadow: 0 0 0 999px rgba($primary, 0.9);
    transform: scale(1.35);
  }

  img {
    position: absolute;
    z-index: 1;

    // these 3 attributes and values will proportional set the image to cover the container
    min-height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &:hover,
  &:focus-within,
  &:focus {
    outline: 0;
    cursor: pointer;

    .pop-up-details-container {
      display: flex; // on hover switches the display from hidden to black to show content
      // centers the content (this is the reason for the extra div "pop-up-details-container"
      justify-content: center;
      align-items: center;
    }

    .spotlight-mask {
      opacity: 1;
      transform: scale(0.9);
      transition: transform 300ms ease-in-out;
    }

    img {
      transform: scale(1.1);
      transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }
}
