/*
  Contributors: Sam Alhaqab 017018649
  Course: CECS 470

  Description: This class styles the form input component.
*/

// global theme import
@import "../../assets/theme";

// mixin to display label inside of input rather than on top
@mixin shrinkLabel {
  top: -1rem;
  left: 0.1rem;

  font-size: 0.8rem;
  text-transform: uppercase;

  font-weight: bold;
  color: $secondary_dark;

  letter-spacing: 0;
  pointer-events: auto;
}

@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// styles container for input and label
.input-field {
  position: relative;
  outline: none;
  margin-top: 1.7rem;
  height: 2rem;
  min-width: 10rem;

  .error-msg {
    font-size: 0.8rem;
    text-transform: uppercase;
    position: absolute;
    top: -1rem;
    right: 0;
    color: red;
    font-weight: bold;

    animation: shake forwards 1s linear;
  }

  // styles input label
  .form-input-label {
    text-transform: capitalize;
    color: $secondary_dark;

    font-size: 1rem;

    font-weight: normal;
    letter-spacing: 0.05rem;

    position: absolute;
    pointer-events: none;
    left: 0.6rem;
    top: 0.45rem;

    transition-property: top, left, font-size, font-weight, color,
      letter-spacing;
    transition-duration: 200ms;
    transition-timing-function: ease;

    .required-asterisk {
      font-weight: bold;
      font-size: 1em;
      color: red;
    }

    .additional-info {
      font-size: 1em;

      text-transform: lowercase;
    }

    &.shrink {
      @include shrinkLabel();
    }
  }

  // styles form input
  .form-input {
    height: 100%;
    width: 100%;
    padding: 0 0.5rem;

    color: $secondary_dark;
    font-size: 1rem;
    letter-spacing: 1px;

    border: none;
    border: 1px solid lightgray;

    &:focus {
      outline: none;
      border: 1px solid $secondary_dark;
    }

    &:focus-within {
      outline: none;
      border: 1px solid $secondary_dark;
    }

    &:invalid {
      outline: none;
      color: $primary;
    }

    &:valid {
      outline: none;
      color: $secondary_dark;
    }

    &:hover {
      outline: none;
      border: 1px solid $secondary_dark;
    }

    &:read-only {
      background-color: #ececec;
      cursor: not-allowed;
    }
  }

  input[type="password"] {
    letter-spacing: 0.1rem;
  }

  input[type="time"] {
    &:invalid {
      color: white;
    }

    &:focus-within,
    &:focus {
      color: black;
    }
  }

  input[type="date"] {
    color: white;

    &:invalid {
      color: white;
    }

    &:valid {
      color: $secondary_dark;
    }

    &:focus-within,
    &:focus {
      color: black;
    }
  }

  // styles container for visibility toggle
  .visibility-container {
    cursor: pointer;

    height: 100%;

    margin-right: 0.5rem;

    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      background-color: $background_light;
      path {
        fill: $secondary_dark;
      }
    }

    &:hover {
      svg {
        path {
          fill: $primary;
        }
      }
    }
  }

  // this is what makes the label move:
  &:focus-within,
  &:focus {
    .form-input-label {
      @include shrinkLabel();
    }
  }
}

.textarea {
  height: 10rem;

  textarea {
    padding: 0.5rem;
    resize: none;
  }
}
