@import "../../assets/theme";

.owner-restaurant-page {
  height: 100%;

  // margin: 0 auto;
  // height: 25rem;
  // margin-right: $padding_small;
  // margin-left: $padding_small;

  // background-color: red;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  // background-color: rgb(26, 134, 116);
}
