/*
  Contributors: Sam Alhaqab 017018649
  Course: CECS 470

  Description: This scss class styles the apply page component.
*/

// global theme imports
@import "../../assets/theme";

// apply page main container setting up layout of contents of the page
.apply-page-container {
  z-index: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // modifies all inputs except hour range to a certain width and margin top
  .input-override {
    margin-top: 1.6rem;
    max-width: 40rem;
  }

  .captcha {
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
  }

  // modifies the hour range input specifically to have margin bottoms
  .time-range-input {
    margin-bottom: 0.8rem;
  }

  // styles h1 title of the submit the restaurant form
  .apply-form-header {
    padding: 0 0.5rem;
    width: 100%;
    background-color: rgba(white, 0.2);

    border-left: 2.5rem solid $secondary;

    height: 2.5rem;

    color: $secondary;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;

    display: flex;
    align-items: center;
  }

  form {
    // background-color: red;
    // width: 100%;
    // max-width: 100%;

    .dropdown-anchor {
      position: relative;
      z-index: 100;
      width: 100%;

      .street-add-suggestion-dropdown {
        width: 100%;
        background-color: white;
        position: absolute;
        border: 1px solid lightgray;
        border-top: 0;

        &:hover {
          border: 1px solid $secondary_dark;
          border-top: 0;
        }

        li {
          margin: 5px;
          cursor: pointer;

          &:hover {
            background-color: $primary;
            color: white;
          }
        }
      }
    }

    // styles all subtitles (h2) inside of the form with a certain style
    .form-subtitle {
      color: $primary;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    // styles the city-state-zip section so that each input lines up
    .city-state-zip-container {
      width: 100%;
      max-width: 40rem;

      display: flex;

      // specifically styles the size of the city input
      #city-input {
        flex: 8;
        min-width: 4.5rem;
      }

      // specifically styles the size of the state input
      #state-input {
        min-width: 4.5rem;
        flex: 1;
        margin-left: 1rem;
      }

      // specifically styles the size of the zipcode input
      #zipcode-input {
        min-width: 6rem;
        flex: 1;
        margin-left: 1rem;
      }
    }

    .hour-input {
      flex-direction: row;
    }
  }
}
