@import "../../assets/theme";

.restaurant-card-container {
  background-color: $background_light;
  width: auto;
  max-width: 40rem;

  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  padding: 0.5rem;

  img {
    background-color: lightgray;

    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 3px;
  }

  .restaurant-info {
    margin-left: 0.25rem;
    background-color: $background_light;

    flex: 1;

    width: 100%;
    position: relative;
    .res-header {
      display: flex;
      justify-content: space-between;
      h2 {
        word-break: break-word;
      }
    }

    .res-name {
      padding: 0 0.25rem;
      display: flex;
      color: $secondary;
      background-color: $background_light;
      font-size: 1.5rem;
      font-weight: bold;

      text-align: left;
    }

    .res-rating-normal {
      // position: absolute;
      // top: 0;
      // right: 0;
      // padding: 0 0.25rem;
      display: flex;
      flex-direction: row;
      align-self: center;

      p {
        padding-right: 0.25rem;
        align-self: center;
        color: $secondary;
      }
    }

    .res-rating-shrink {
      display: none;
      align-content: center;
      // p {
      //   padding-right: 0.25rem;
      //   align-self: center;
      //   color: $secondary;
      // }
    }

    .res-address {
      width: 100%;
      display: flex;
      padding: 0.1rem 0.25rem 0.25rem 0.25rem;

      color: $secondary_dark;
      font-style: italic;
    }

    .res-description {
      flex: 1;
      padding: 0.25rem;
      font-size: 0.8rem;
    }

    .tag-list {
      padding: 0 0.25rem;

      display: flex;
      flex-wrap: wrap-reverse;
      position: absolute;
      bottom: 0;
    }
  }

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $secondary_dark;
  }
}

@media (max-width: 500px) {
  .restaurant-card-container {
    display: flex;
    // flex-direction: column;
    width: auto;

    img {
      width: 5rem;
      height: 5rem;
    }

    .restaurant-info {
      .res-header {
        display: flex;
        justify-content: space-between;
        h2 {
          word-break: break-word;
        }
      }
      .res-name {
        font-size: 1.1rem;
      }

      .res-rating-normal {
        display: none;
      }

      .res-rating-shrink {
        // position: absolute;
        // top: 0;
        // right: 0;
        padding: 0 0.25rem;
        display: flex;
        // flex-direction: row;
        // align-self: center;

        p {
          padding-left: 0.25rem;
          color: $secondary;
        }
      }

      .res-description {
        display: none;
      }

      .tag-list {
        display: none;
      }
    }
  }
}
