/*
  Contributors: Julie Do 014101748, Sam Alhaqab 017018649, Tiffany Lam 015181853
  Course: CECS 470

  Description: This scss class styles the restaurant card component and formats it's contents.
*/

// GLOABL THEME IMPORTS
@import "../../assets/theme";

// Main class component container for each card.
.restaurant-card-container {
  background-color: $background_light;
  // width: 100%;
  width: 100%;
  max-width: 40rem;

  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  padding: 0.5rem;

  img {
    background-color: lightgray;

    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 3px;
  }

  // Class for styling the restaurant's relevant information.
  .restaurant-info {
    margin-left: 0.25rem;
    background-color: $background_light;

    flex: 1;

    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;

    // Class for styling the information at the head of the card.
    .res-header {
      display: flex;
      justify-content: space-between;
      h2 {
        word-break: break-word;
      }
    }

    .res-name {
      padding: 0 0.25rem;
      display: flex;
      color: $secondary;
      background-color: $background_light;
      font-size: 1.5rem;
      font-weight: bold;

      text-align: left;
    }

    // Class styling extra information on the card, such as ratings, reviews, and address.
    // This class is used when the page is expanded.
    .res-extra-normal {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: auto;
      height: min-content;

      p {
        padding-right: 0.25rem;
        align-self: center;
        color: $secondary;
      }

      .res-date {
        padding: 0;
        width: 100%;
        text-align: right;
      }
    }

    // Class styling extra information on the card, such as ratings, reviews, and address.
    // This class is used when the page is expanded.
    .res-extra-shrink {
      display: none;
    }

    .res-address {
      width: auto;
      display: flex;
      padding: 0.1rem 0.25rem 0.25rem 0.25rem;

      color: $secondary_dark;
      font-style: italic;
    }

    .res-description {
      flex: 1;
      padding: 0.25rem;
      font-size: 0.8rem;
    }

    .tag-list {
      padding: 0 0.25rem;

      display: flex;
      flex-wrap: wrap-reverse;
      margin-top: auto;
    }
  }

  &:hover,
  &:focus {
    // background-color: red;
    // margin-top: 1rem;
    outline: none;
    border: 1px solid $secondary_dark;
  }
}

// Media query for when the page is shrunk to 500px to adjust restaurant card size.
@media (max-width: 500px) {
  // Main class component container for each card.
  .restaurant-card-container {
    display: flex;
    width: 100%;

    img {
      width: 5rem;
      height: 5rem;
    }

    // Class for styling the restaurant's relevant information.
    .restaurant-info {
      // Class for styling the information at the head of the card.
      .res-header {
        display: flex;
        justify-content: space-between;
        h2 {
          word-break: break-word;
        }
      }

      .res-name {
        font-size: 1.1rem;
      }

      // Class styling to hide this format of extra information on the card when the page is shrunk.
      .res-extra-normal {
        display: none;
      }

      // Class styling to view this format of extra information on the card when the page is shrunk.
      .res-extra-shrink {
        padding: 0 0.25rem;
        display: flex;

        p {
          padding-left: 0.25rem;
          color: $secondary;
        }
      }

      .res-description {
        display: none;
      }

      .tag-list {
        display: none;
      }
    }
  }
}
