@import "../../assets/theme";

.restaurant-card-container {
  background-color: $background_light;

  // background-color: $secondary;
  // background-color: $primary;
  width: 40rem;
  // height: 20rem;
  // max-height: 30rem;

  // height: 40rem;

  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  padding: 0.5rem;

  img {
    background-color: lightgray;

    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 3px;
    // margin: 0.5rem;
  }

  .restaurant-info {
    // width: 20rem;
    // height: 20rem;
    // max-width: 20rem;
    // max-height: 20rem;
    margin-left: 0.25rem;
    background-color: $background_light;
    // border: 1px solid lightgray;

    flex: 1;

    // display: flex;
    // flex-direction: column;
    width: 100%;
    position: relative;

    .res-name {
      padding: 0 0.25rem;
      // width: 100%;
      display: flex;
      // justify-content: center;

      // background-color: $secondary;
      // color: $background_light;
      color: $secondary;
      background-color: $background_light;
      font-size: 1.5rem;
      font-weight: bold;

      text-align: left;
    }

    .res-rating {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 0.25rem;
      display: flex;
      flex-direction: row;
      align-self: center;

      p {
        padding-right: 0.25rem;
        align-self: center;
        // color: $background_light;
        color: $secondary;
      }
    }

    .res-address {
      width: 100%;
      display: flex;
      // justify-content: center;
      padding: 0.25rem;

      // background-color: lightgray;
      color: $secondary_dark;
      font-style: italic;
    }

    .res-description {
      flex: 1;
      padding: 0.25rem;
      font-size: 0.8rem;
    }

    .tag-list {
      padding: 0 0.25rem;
      // background-color: red;
      // flex: 2;

      display: flex;
      // justify-content: flex-end;
      // align-items: flex-end;

      flex-wrap: wrap-reverse;
      position: absolute;
      bottom: 0;
    }
  }

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $secondary_dark;
    // box-shadow: $light_box_shadow;
  }
}

@media (width: 643px) {
  .restaurant-card-container {
    // background-color: yellow;
    display: flex;
    flex-direction: column;

    width: 20rem;
    height: 40rem;
    max-height: 40rem;
  }
}
