// global theme imports
@import "../../assets/theme";

// parent container for image upload and buttons
.img-upload-container {
  display: flex;
  flex-direction: column;

  // image upload label styling
  .img-upload-label {
    width: fit-content;

    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
  }

  // image upload input styling (hides from view)
  .img-upload-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
  }

  // displays and styles list of previewed images
  .img-list {
    display: flex;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    width: 100%;

    // wraps and styles image with delete overlay
    .img-container {
      cursor: pointer;
      position: relative;
      width: 5rem;
      height: 5rem;
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;
      object-fit: cover;
      background-color: rgb(236, 236, 236);
      border: 1px solid lightgray;

      img {
        width: 100%;
        height: 100%;
      }

      // styles delete overlay
      .img-delete {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(white, 0.5);

        svg {
          path {
            fill: red;
          }
        }
      }

      &:hover {
        border: 1px solid $secondary_dark;

        .img-delete {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    // styles button to add image (by referencing file input)
    .add-img-btn {
      cursor: pointer;
      width: 5rem;
      height: 5rem;
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;
      object-fit: cover;
      background-color: rgb(236, 236, 236);
      border: 1px solid lightgray;

      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        path {
          fill: gray;
        }
      }

      &:hover,
      &:focus-within {
        outline: none;
        border: 1px solid $secondary_dark;

        svg {
          path {
            fill: $secondary_dark;
          }
        }
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
