// IMPORT GLOBAL THEME
@import "../../../assets/theme";

// This class is the main tab container class.
.tab-btn {
  flex: 1;

  button {
    width: 100%;
    padding: 0.25rem;
  }

  // This class styles any tabs that are inactive.
  .tab-inactive {
    background-color: $white_wildsand;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: $secondary;

    font-weight: bold;

    padding: 0.4rem 0.3rem 0.4rem 0.3rem;
  }

  // This class styles any tabs that are active.
  .tab-active {
    background-color: $primary !important;
    padding: 0.4rem 0.3rem 0.4rem 0.3rem;
    border-bottom: 2px solid black;
    font-weight: bold;
  }
}
