@import "../../../assets/theme";

.tab-inactive {
  // width: auto;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid black;
  // outline: none;
  // color: $secondary;

  font-weight: bold;

  padding: 0.4rem 0.3rem 0.4rem 0.3rem;
}

.tab-active {
  width: 5em;
  background-color: lightcyan !important;
  border-bottom: 3px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, rgb(233, 83, 108), rgb(252, 231, 50));
  padding: 10px;
  // width: auto;

  // background-color: transparent;
  // border: none;
  // outline: none;
  // color: $primary;

  // font-weight: bold;

  // padding: 0.2rem 0.3rem 0 0.3rem;
}
