// global theme import
@import "../../assets/theme";

// main buttons styles class
// centers content and sets colors, size, font styles, etc.
.custom-btn {
  cursor: pointer;
  height: 2.5rem;
  padding: 0 0.5rem;

  width: 100%;

  background-color: $secondary;

  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $background_light;

  @include bg_color_change();

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 1rem;
    margin-right: 0.25rem;
    path {
      fill: $background_light;
    }
  }

  &:hover {
    background-color: $primary;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

// optional to include margin on button
.btn-margin {
  margin: 1rem 0;
}

// optional to include if button should be minimal size
.btn-fit-content {
  width: fit-content;
  width: -moz-fit-content;
}
