/*
  Contributors: Veronica Sumariyanto 013229149
  Course: CECS 470

  Description: This scss class styles the profile page component.
*/

// Importing our theme
@import "../../assets/theme";

// Sets up the styling for the entire page
.profile-page-container {
  display: flex;
  flex-direction: column;

  // Sets up the margin
  .userContainer {
    margin: 15px;
  }

  // Styles the top portion of the profile page with flex
  .userContainer-inner {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  // Styles the first and last name of the patron. Also the input form when it is editing.
  .profileName {
    display: flex;
    flex-direction: row;

    margin-bottom: 0.5 rem;
    width: 100%;

    border: none;

    // Styling the form field to edit a patron's name.
    input[type="text"] {
      background: none;
      border: none;
      outline: none;

      font-size: 2.3em;
      font-weight: bold;
      color: $primary;

      height: min-content;
      width: 100%;
      min-width: 4em;
      box-sizing: border-box;

      display: flex;
      justify-self: flex-start;
    }
  }

  // Styling the favorites for tags to flex.
  #favorites {
    display: flex;
  }

  // Styling the flex-containers within the userContainer-inner.
  #flex-container1, #flex-container2 {
    display:flex;
    flex-direction: column;
    width: 100%;

    // Styles the text area input for the about me.
    textarea {
      width: 100%;
      background-color: $background_light;
      padding: 1rem;
    }
  }

  ///////// TEXT STYLING /////////////

  h1, h2, h2 + p {
    font-weight: bold;
    height: min-content;
    width: 100%;
    display: flex;
    justify-self: flex-start;
    margin: 8px;
  }

  // This styles the "Edit My Profile" button to have it aligned on the right and sets the width.
  h1 + button {
    width: 15%;
    float: right;
    margin-top: 8px;
    margin-right: 20px;
  }

  h1 {
    font-size: 2.3em;
    text-transform: none;
    color: $primary;
    display: inline;
  }

  h2 {
    font-size: 1.5em;
    color: $secondary;
  }

  h3 {
    font-size: 1.4em;
    font-weight: bold; 
    color: $secondary;
    padding-bottom: 7px;
    display: block;
  }

  // Styles the "Save Changes" button.
  .profile-save-button {
    width: 15%;
    float: right;
    margin-bottom: 8px;
    margin-right: 20px;
  }
  
  // Styles the p element within userContainer-inner
  .userContainer-inner {
    p {
      font-size: 1.1em;
      line-height: 1.4em;
      padding-top: 3px;
      padding-bottom: 5px;
    }
  }

  // Sets the margin for the heading for user reviews.
  .userReviews h3 {
    margin: 10px;
  }
  
  // Resizes the paragraph in reviews.
  .review-user-info p {
    font-size: 15px;
  }

  
  /////////// IMAGES /////////////////

  // Styles the map container to set its position and size.
  #checkIn {
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  // Styles the patron's avatar to display on the page.
  .profile-img {
    display: flex;
    justify-self: left;
    margin: 20px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10%;
  }
}
