/*
  Contributors: Julie Do 014101748
  Course: CECS 470

  Description: This scss class styles the restaurant page component.
*/

// GLOABL THEME IMPORTS
@import "../../assets/theme";

// This class is used to visually hide html, but still allow screen-readers to view them for
// accessibility issues. This class is copied from the following website: https://a11yproject.com/
// posts/how-to-hide-content/
@mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

// This is the main containing class of the restaurant page that sets up the layout of the
// restaurant page.
.restaurant-page {
  width: 100%;

  background-color: transparent;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    " main side "
    " min-side side "
    " more side ";

  justify-content: center;
  box-sizing: border-box;
}

// This class styles the main information of the restaurant, that is, such things as the title
// and images.
.restaurant-page-main {
  grid-area: main;
  height: auto;

  min-width: min-content;
  width: 100%;

  margin: 1rem 1rem 0 0;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  box-sizing: border-box;

  h1 {
    font-size: 2.3em;
    font-weight: bold;
    color: $primary;

    height: min-content;
    width: 100%;

    display: flex;
    justify-self: flex-start;
  }

  h1.restaurant-page-form-header {
    @include visually-hidden;
  }

  // This class styles the save and edit button if an owner is viewing the page.
  .restaurant-page-button {
    width: 100%;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $secondary_dark;

    background-color: $background_light;

    border: 1px solid lightgray;

    padding: 0.8rem 1rem;
    margin: 1rem 0;

    cursor: pointer;

    span {
      display: inline-block;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $secondary_dark;
      font-weight: bold;
      animation: smalltextshake 1s linear infinite;
    }
  }

  button.restaurant-page-button:hover {
    border: 1px solid $secondary_dark;
  }

  // This class styles restaurant-page information such as the open date and owner.
  .restaurant-page-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 0.5em;

    p {
      font-weight: bold;
      font-style: italic;
      color: $secondary;
    }
  }

  // This class is the container class styling the restaurant images carousel.
  .restaurant-page-carousel {
    height: min-content;
    width: 100%;
  }
}

// This class displays the less general information of the restaurant page, such as the
// description, reviews, and review input.
.restaurant-page-more {
  grid-area: more;
  height: auto;

  min-width: min-content;
  width: 100%;

  margin: 0 1rem 2rem 0;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  box-sizing: border-box;

  // This class styles the restaurant page description.
  .restaurant-page-description {
    height: min-content;
    width: 100%;
    margin-top: 1rem;

    h2 {
      @include visually-hidden;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }

  // This class styles the restaurant page review input.
  .restaurant-page-review-input {
    height: min-content;
    width: 100%;

    margin: 2rem 0 1rem 0;

    h2 {
      font-size: 2em;
      font-weight: bold;
      color: $primary;

      height: min-content;
      width: 100%;

      margin-bottom: 1rem;

      display: flex;
      justify-self: flex-start;
    }
  }

  // This class styles the restaurant page reviews.
  .restaurant-page-reviews {
    height: min-content;
    width: 100%;

    margin: 0.5rem 0 2rem 0;

    h2 {
      font-size: 2em;
      font-weight: bold;
      color: $primary;

      height: min-content;
      width: 100%;

      margin-bottom: 1rem;

      display: flex;
      justify-self: flex-start;
    }
  }
}

// This class styles the side bar of the restaurant page.
.restaurant-page-side {
  grid-area: side;
  height: 100%;

  min-width: 300px;
  max-width: 375px;
  width: 100%;

  background-color: transparent;

  padding: 2rem 1rem 2rem 1rem;

  box-sizing: border-box;

  // This class styles the contents of the side bar of the restaurant page.
  .restaurant-page-side-contents {
    position: -webkit-sticky;
    position: sticky;

    top: 8%;

    display: flex;
    flex-direction: column;

    fieldset {
      height: min-content;
      width: 100%;

      border: none;
    }

    // This class styles the restaurant tags.
    .restaurant-page-tags {
      height: min-content;
      width: 100%;

      display: flex;

      justify-content: flex-start;
      align-items: center;

      margin-bottom: 1.5rem;

      h2 {
        @include visually-hidden;
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: flex-start;
        align-items: center;
      }
    }

    // This class styles the restaurant map area.
    .restaurant-page-map {
      height: 200px;
      width: 100%;

      position: relative;

      margin-bottom: 3rem;
      box-sizing: border-box;

      h2 {
        @include visually-hidden;
      }

      .restaurant-page-map-container {
        margin-top: 1.5rem;
      }

      p {
        background-color: $secondary;
        color: $background_light;

        font-weight: bold;

        padding-left: 0.5rem;
        border-left: 5px solid $primary;
      }
    }

    // This class styles a containing section of the restaurant page side for the other values.
    .restaurant-page-others-container {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    // This class styles other contents of the restaurant page side, such as the extra details,
    // hours, etc.
    .restaurant-page-others {
      height: 100%;
      width: 100%;

      margin-bottom: 2rem;
    }

    // This class styles the restaurant page details of the other information in side bar.
    .restaurant-page-details {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: flex-start;
      align-content: center;

      margin-top: 0.5rem;

      .restaurant-page-detail {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;

        .restaurant-page-detail-buttons {
          display: flex;

          width: 100%;
          align-content: center;

          div {
            width: 100%;
          }
          button {
            svg {
              display: block;
            }
          }
        }

        label {
          margin-right: auto;
          align-self: center;
        }

        margin-bottom: 0.3rem;
      }

      button {
        width: min-content;
        background-color: transparent;
        svg {
          fill: $secondary;
        }
      }
    }

    // This class styles the menu of the other information in the side bar.
    .restaurant-page-menu {
      height: min-content;
      width: 100%;

      margin: 0.5rem 0;
    }
  }
}

// This class styles the main information of the restaurant, that is, such things as the title
// and images, when the user is editing the form.
.restaurant-page-main-manage {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  // This class is used to generally style any wrapping containers of the editing input fieldsets.
  .restaurant-container {
    height: min-content;
    width: 100%;

    border: none;

    // These classes are used to style restaurant-name and restaurant-description in the editing
    // page.
    .restaurant-name,
    .restaurant-description {
      display: flex;
      flex-direction: row;

      margin-bottom: 0.5rem;
      width: 100%;

      div {
        width: 100%;
      }

      label {
        width: 100%;
        span {
          @include visually-hidden;
        }

        input[type="text"] {
          background: none;
          border: none;
          outline: none;

          font-size: 2.3em;
          font-weight: bold;
          color: $primary;

          height: min-content;
          width: 100%;
          min-width: 4em;
          box-sizing: border-box;

          display: flex;
          justify-self: flex-start;
        }
      }

      button {
        background: none;
        outline: none;
        border: none;

        margin-left: 1rem;

        svg {
          fill: $secondary;
        }
      }

      textarea {
        width: 100%;
        background-color: $background_light;
        padding: 1rem;
      }
    }

    // This class is used to style the restaurant-page image upload on the editing page.
    .restaurant-page-upload {
      margin: 0.5rem;
      display: flex;
      flex-direction: row;
      align-content: center;
    }

    // This class is used to style the extra owner and date open section.
    .restaurant-page-information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      font-size: 0.5em;

      margin-bottom: 1rem;
    }
  }

  // This class is used to style the restaurant images carousel in editing.
  .restaurant-page-carousel {
    height: min-content;
  }

  // This class is used to style the restaurant description in editing.
  .restaurant-page-description {
    height: min-content;
    width: 100%;

    h2 {
      @include visually-hidden;
    }
  }
}

// This class is used to style the restaurant pages reviews.
.restaurant-page-reviews {
  grid-area: more;
  height: min-content;
  width: 100%;

  border: none;

  margin: 0.5rem 0 2rem 0;

  h2 {
    font-size: 2.3em;
    font-weight: bold;
    color: $primary;

    height: min-content;
    width: 100%;

    margin-bottom: 1rem;

    display: flex;
    justify-self: flex-start;
  }
}

.inactive {
  background-color: transparent;
  border: none;
}

.active {
  background-color: $light_beige;
  border: none;
  outline: none;
  border-radius: 5px;
}

// This media query adjusts the position and sizes of components when the page shrinks.
@media screen and (max-width: 1000px) {
  .restaurant-page-side {
    grid-area: min-side;
    width: 100%;
    max-width: 100%;

    padding: 0.5rem 0;

    .restaurant-page-side-contents {
      flex-direction: row;
      flex-wrap: wrap;
      box-sizing: border-box;

      .restaurant-page-tags {
        margin-bottom: 0.7rem;
      }

      .restaurant-page-map {
        width: 50%;
        margin-bottom: 1.5rem;
      }

      .restaurant-page-others-container {
        width: 50%;
        padding: 0 1rem 1rem 1rem;
      }

      .restaurant-page-others {
        margin-bottom: 0;
      }
    }
  }

  .restaurant-page-more {
    .restaurant-page-description {
      margin-top: 0;
    }
  }
}

// This media query adjusts the position and sizes of components when the page shrinks.
@media screen and (max-width: 600px) {
  .restaurant-page-side {
    grid-area: min-side;
    width: 100%;
    max-width: 100%;

    .restaurant-page-side-contents {
      .restaurant-page-map {
        width: 100%;
      }

      .restaurant-page-others-container {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
}

// This key frame is used to emphasize the EDIT and SAVE buttons
@keyframes smalltextshake {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
