@import "../../assets/theme";

@mixin visually-hidden {
  // https://a11yproject.com/posts/how-to-hide-content/
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.restaurant-page {
  height: 100%;
  width: 100%;

  background-color: $background_light;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
  padding: 0 15%;

  box-sizing: border-box;
}

.restaurant-page-main {
  height: auto;

  // min-width: 600px;
  min-width: min-content;
  width: 65%;

  margin: 2rem 1rem 2rem 0;
  padding: 1rem;

  background-color: $background_dark;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;

  box-sizing: border-box;

  h1 {
    font-size: 2.3em;
    font-weight: bold;
    color: $primary;

    height: min-content;
    width: 100%;

    display: flex;
    justify-self: start;
  }

  .restaurant-page-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 0.5em;

    margin-bottom: 1rem;
  }

  .restaurant-page-carousel {
    height: min-content;
    width: 100%;
  }

  .restaurant-page-description {
    height: min-content;
    width: 100%;

    h2 {
      @include visually-hidden;
    }
  }

  .restaurant-page-review-input {
    height: min-content;
    width: 100%;

    margin: 2rem 0;

    h2 {
      font-size: 2.3em;
      font-weight: bold;
      color: $primary;

      height: min-content;
      width: 100%;

      margin-bottom: 1rem;

      display: flex;
      justify-self: start;
    }
  }

  .restaurant-page-reviews {
    height: min-content;
    width: 100%;

    margin: 0 0 2rem 0;

    h2 {
      font-size: 2.3em;
      font-weight: bold;
      color: $primary;

      height: min-content;
      width: 100%;

      margin-bottom: 1rem;

      display: flex;
      justify-self: start;
    }
  }
}

.restaurant-page-side {
  height: 100%;

  // min-width: 350px;
  width: 35%;

  background-color: lightpink;

  // margin-right: 20%;
  padding: 2rem 1rem 2rem 1rem;
  // margin: 2rem 20% 2rem 0;
  // padding: 1rem;

  box-sizing: border-box;

  .restaurant-page-side-contents {
    position: -webkit-sticky;
    position: sticky;

    top: 2%;

    display: flex;
    flex-direction: column;

    fieldset {
      height: min-content;
      width: 100%;

      border: none;
    }

    .restaurant-page-tags {
      height: min-content;
      width: 100%;

      display: flex;

      justify-content: start;
      align-items: center;

      margin-bottom: 2rem;

      h2 {
        @include visually-hidden;
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: start;
        align-items: center;
      }
    }

    .restaurant-page-map {
      height: 300px;
      width: 100%;

      position: relative;

      margin-bottom: 2rem;

      h2 {
        @include visually-hidden;
      }
    }

    .restaurant-page-others-container {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .restaurant-page-others {
      height: 100%;
      width: 100%;

      margin-bottom: 2rem;
    }

    .restaurant-page-details {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: start;

      label,
      dt {
        margin-right: auto;
      }
    }

    .restaurant-page-menu {
      height: 300px;
      // height: 100%;
      width: 100%;
    }
  }
}

.restaurant-page-main-manage {
  // height: auto;

  // min-width: 600px;
  // width: 65%;

  // margin: 2rem 1rem 2rem 20%;
  // padding: 1rem;

  // background-color: $background_dark;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  .restaurant-container {
    height: min-content;
    width: 100%;

    border: none;

    .restaurant-name,
    .restaurant-description {
      display: flex;
      flex-direction: row;
      // justify-content: space-between;

      margin-bottom: 1rem;

      label {
        width: 100%;
        span {
          @include visually-hidden;
        }

        input[type="text"] {
          background: none;
          border: none;
          outline: none;

          font-size: 2.3em;
          font-weight: bold;
          color: $primary;

          height: min-content;
          width: 100%;
          min-width: 4em;
          box-sizing: border-box;

          display: flex;
          justify-self: start;
        }
      }

      button {
        background: none;
        outline: none;
        border: none;

        margin-left: 1rem;

        svg {
          fill: $secondary;
        }
      }

      textarea {
        height: 7em;
        width: 100%;

        resize: none;

        border-radius: 10px;

        padding: 1rem;

        box-sizing: border-box;
      }
    }

    .restaurant-page-information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      font-size: 0.5em;

      margin-bottom: 1rem;
    }
  }

  .restaurant-page-carousel {
    // height: 10rem;
    height: min-content;
    // width: 100%;
  }

  .restaurant-page-description {
    height: min-content;
    width: 100%;

    h2 {
      @include visually-hidden;
    }
  }

  .restaurant-page-review-input {
    height: min-content;
    width: 100%;

    margin: 2rem 0;

    h2 {
      font-size: 2.3em;
      font-weight: bold;
      color: $primary;

      height: min-content;
      width: 100%;

      margin-bottom: 1rem;

      display: flex;
      justify-self: start;
    }
  }

  .restaurant-page-reviews {
    height: min-content;
    width: 100%;

    margin: 0 0 2rem 0;

    h2 {
      font-size: 2.3em;
      font-weight: bold;
      color: $primary;

      height: min-content;
      width: 100%;

      margin-bottom: 1rem;

      display: flex;
      justify-self: start;
    }
  }
}

.inactive {
  background-color: $white;
}

.active {
  background-color: white;
}

@media screen and (max-width: 750px) {
  .restaurant-page-side {
    display: none;
  }

  .restaurant-page-main {
    margin: 0;
  }
}
