// global theme imports
@import "../../assets/theme";

// styles the list of tags so that they appear as a horizontal list with appropriate spacing
.add-tag-list {
  max-width: 30rem;

  display: flex;
  flex-wrap: wrap;

  // styles a tag input next to a delete button
  .tag-input-close-btn {
    display: flex;
    background-color: red;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;

    height: 1.2rem;

    // styles each tag component
    .tag-item {
      height: 100%;
      margin: 0;
    }

    // styles the delete button per tag
    .delete-tag-btn {
      cursor: pointer;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 1.2rem;

      background-color: $primary;

      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 0.8rem;
        height: 0.8rem;

        path {
          fill: $secondary_dark;
        }
      }

      &:hover,
      &:focus,
      &:focus-within {
        outline: 0;
        border: 1px solid $secondary_dark;
        svg {
          path {
            fill: $secondary_dark;
          }
        }
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  // styles the add new tag input button
  .add-tag-btn {
    width: 9.5rem;
    height: 1.2rem;

    background-color: $background_light;
    border: 1px solid lightgray;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 100%;
      width: 100%;

      path {
        fill: rgba($secondary_dark, 0.5);
      }
    }

    &:hover,
    &:focus,
    &:focus-within {
      border: 1px solid $secondary_dark;
      svg {
        path {
          fill: $secondary_dark;
        }
      }
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
