@import "../../assets/theme";

.add-tag-list {
  // background-color: lightblue;
  max-width: 40rem;
  background-color: lightsalmon;

  display: flex;
  flex-wrap: wrap;

  .tag-input-close-btn {
    display: flex;
    background-color: red;
    margin-right: 1rem;

    .tag-item {
      // margin: 2px 0 2px 2px;
      margin: 0;
      // height: 100%;
    }

    .delete-tag-btn {
      cursor: pointer;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 1.5rem;
      // height: 1.15rem;
      // width: 1.15rem;
      // max-height: 1.15rem;
      // max-width: 1.15rem;
      // margin: 2px 2px 2px 0;

      background-color: $primary;
      // border: 1px solid lightgray;

      display: flex;
      justify-content: center;
      align-items: center;

      // background-color: red;

      svg {
        width: 0.8rem;
        height: 0.8rem;

        path {
          fill: $secondary_dark;
        }
      }

      &:hover,
      &:focus,
      &:focus-within {
        outline: 0;
        border: 1px solid $secondary_dark;
        svg {
          path {
            fill: $secondary_dark;
          }
        }
      }
    }
  }

  .add-tag-btn {
    // height: 100%;
    // height: 1.15rem;
    // padding: 0;
    width: 9.45rem;
    height: 1rem;
    height: 100%;
    min-height: 100%;

    // margin: 2px;

    background-color: $background_light;
    border: 1px solid lightgray;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;

    svg {
      background-color: red;
      path {
        fill: rgba($secondary_dark, 0.5);
      }
    }

    &:hover,
    &:focus,
    &:focus-within {
      border: 1px solid $secondary_dark;
      svg {
        path {
          fill: $secondary_dark;
        }
      }
    }
  }
}
