/*
  Contributors: Sam Alhaqab 017018649, Tiffany Lam 015181853
  Course: CECS 470

  Description: This scss class styles the navbar component.
*/

// global theme imports
@import "../../assets/theme";

// used to style the nav containing all links and buttons
.header-nav {
  z-index: 100;
  padding: 0.5rem 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  // used to style logo container
  .logo-container-flex {
    z-index: 1;
    display: flex;
    align-items: center;
  }

  // styles search bar
  .nav-item-searchbar {
    flex-grow: 1;

    display: flex;
    justify-content: flex-end;
  }

  // styles the square hamburger button when page is in mobile view/shrinks to a certain size
  #menu-btn {
    position: relative;
    z-index: 2;
    display: none;
    border-radius: 0;

    svg {
      path {
        fill: $background;
      }
    }
  }

  // styles the list of links
  ul {
    position: relative;
    z-index: 0;

    height: 100%;

    display: flex;
    flex-direction: row;

    // styles all list items
    li {
      cursor: pointer;
      font-size: 0.9rem;
      text-transform: uppercase;

      padding: 0 0.5rem;
      position: relative;

      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      //
      .nav-item-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: $primary;
        z-index: 1;

        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 100ms ease-out;
      }

      // styles all links and the login/logout button
      .auth-btn,
      a {
        background-color: transparent;
        text-transform: uppercase;
        cursor: pointer;

        height: 100%;
        position: relative;
        z-index: 2;

        color: $secondary;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: color 200ms ease-in-out;
      }

      &:hover,
      &:focus,
      &:focus-within {
        a,
        .auth-btn {
          outline: 0;
          color: $background;
        }

        .nav-item-mask {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
      }
    }
  }
}

// styles the navigational bar to shrink and display list of links differently when page shrinks
@media (max-width: 1024px) {
  .header-nav {
    justify-content: space-between;

    #menu-btn {
      display: flex; // to show the menu btn again
    }

    ul {
      height: fit-content;

      padding-top: 3rem;
      padding-bottom: 1rem;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: $secondary;
      clip-path: circle(1000px at 88% 0);
      transition: clip-path 300ms ease-in-out;

      box-shadow: 0 0 5px rgba(black, 0.2);

      display: flex;
      flex-direction: column;

      li {
        height: 1.5rem;
        a,
        .auth-btn {
          color: $background_light;
          transition: none;
        }

        &:hover {
          a,
          .auth-btn {
            color: $background_light;

            font-weight: bold;
          }

          .nav-item-mask {
            clip-path: polygon(0 0, 100% 0, 100% 0, 50% 0, 0 0);
          }
        }
      }
    }

    .mobile-hidden {
      clip-path: circle(0px at 88% 0);
    }
  }
}
