/*
  Contributors: Sam Alhaqab 017018649
  Course: CECS 470

  Description: This scss class styles the rating component.
*/

@import "../../assets/theme";

$rating_unfilled_opacity: 0.3;

// parent container for the rating component setting up layout of contents
.rating-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  width: -moz-fit-content;

  // by default all icons are fully filled (rating-filled):
  svg {
    path {
      fill: $primary_dark;
      transition: opacity 250ms ease-in-out;
    }
  }

  // if the rating is not set, use this style
  .rating-unfilled {
    path {
      opacity: $rating_unfilled_opacity;
    }
  }

  // if you hover over a rating as an input, scale the rating icon up
  .rating-big {
    &:hover {
      transform: scale(1.3);
    }
  }

  // hide the rating icon
  .rating-hidden {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }
}

// the next two classes handle hovering feedback for "previous" elements
// ensures that all icons have full opacity (filled):
.rating-input:hover svg {
  path {
    opacity: 1;
  }
}

// then unfills all icons after the one that is currently hovered on:
.rating-input svg:hover ~ svg {
  path {
    opacity: $rating_unfilled_opacity;
  }
}

.rating-vertical {
  display: flex;
  flex-direction: column;
}

.rating-horizontal {
  display: flex;
  flex-direction: row;
}

.rating-input {
  cursor: pointer;
}
