/*
  Contributors: Sam Alhaqab 017018649
  Course: CECS 470

  Description: This scss class styles the logo component.
*/

// global theme imports
@import "../../assets/theme";

// spins/rotates dining icon
@keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// logo's parent container class
.logo-container {
  cursor: pointer;
  display: flex;
  align-items: center;

  // styles the first part of the logo "AP"
  #ap-text {
    font-size: 2rem;
    font-weight: bold;
    color: $secondary_dark;
    margin-left: 0.5rem;
  }

  // styles the second part of the logo "PETITE"
  #petite-text {
    font-size: 2rem;
    font-weight: bold;
    color: $secondary_dark;
    margin-right: 0.5rem;

    transition: color 150ms ease-out;
  }

  // styles, if desired, the eatery text
  #eatery-text {
    font-size: 2rem;
    color: $secondary_dark;
  }

  // styles fork andknife icon
  #fork-knife-icon {
    background-color: $primary;
    border-radius: 0;
    transition: none;
    svg {
      path {
        fill: $background;
      }
    }
  }

  #small-dot-icon {
    width: 8px;
    margin: 0 0.2rem;

    path {
      fill: $primary;
    }
  }

  span {
    @include base_font_stack;
  }

  &:hover,
  &:focus,
  &:focus-within {
    #fork-knife-icon {
      outline: 0;
      svg {
        path {
          animation: spin2 500ms forwards infinite linear;
          transform-origin: center;
        }
      }
    }

    #petite-text {
      color: $primary;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

// on page shrink, shrinks logo and adjusts theme
@media (max-width: 1024px) {
  .logo-container {
    #fork-knife-icon {
      background-color: $primary;

      svg {
        path {
          fill: $background;
        }
      }
    }
    #ap-text {
      display: none;
    }

    #petite-text {
      display: none;
    }

    #eatery-text {
      display: none;
    }
  }
}
