@import "../../assets/theme";
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo-container {
  cursor: pointer;
  display: flex;
  align-items: center;

  #ap-text {
    font-size: 2rem;
    font-weight: bold;
    color: $primary;
    // font-style: italic;
  }

  #petite-text {
    font-size: 2rem;
    font-weight: bold;
    // font-style: italic;
    color: $primary;
  }

  #eatery-text {
    // margin-left: 0.5rem;
    font-size: 2rem;
    // font-weight: bold;
    color: $secondary_dark;
    // font-style: italic;
  }

  #fork-knife-icon {
    background-color: transparent;
    svg {
      path {
        fill: $secondary_dark;
      }
    }
  }

  #small-dot-icon {
    width: 8px;
    margin: 0 0.2rem;

    path {
      fill: $primary;
    }
  }

  span {
    @include base_font_stack;
  }

  &:hover {
    // background-color: red;
    #fork-knife-icon {
      // background-color: blue;
      // background-color: transparent;
      svg {
        // background-color: yellow;

        path {
          animation: spin 1s infinite linear;
          transform-origin: center;
        }
      }
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .logo-container {
    #fork-knife-icon {
      background-color: $primary;

      svg {
        path {
          fill: $background;
        }
      }
    }
    #ap-text {
      display: none;
    }

    #petite-text {
      display: none;
    }

    #eatery-text {
      display: none;
    }
  }
}
