@import "../../assets/theme";

p {
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  #ap-text {
    font-size: 2rem;
    font-weight: bold;
    color: $primary;
    // font-style: italic;
  }

  #petite-text {
    font-size: 2rem;
    font-weight: bold;
    // font-style: italic;
    color: $primary;
  }

  #eatery-text {
    // margin-left: 0.5rem;
    font-size: 2rem;
    // font-weight: bold;
    color: $secondary_dark;
    // font-style: italic;
  }

  #fork-knife-icon {
    // margin-right: 0.2rem;
    margin: 0 0.2rem;
    path {
      fill: $secondary_dark;

      // fill: rgb(87, 57, 255);
    }
  }

  #small-dot-icon {
    width: 8px;
    margin: 0 0.2rem;

    path {
      fill: $primary;
    }
  }

  span {
    @include base_font_stack;
  }
}
