// import global themes
@import "../../assets/theme";

// modal parent container which formats all containing elements
.modal-container {
  position: fixed;
  z-index: 1000;
  left: 50vw;
  top: 50vh;
  width: 0px;
  height: 0px;
  background-color: red;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  // modal backdrop which formats the backdrop of the modal
  .modal-backdrop {
    cursor: crosshair;

    z-index: 5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(black, 0.2);

    // does not work on firefox:
    backdrop-filter: blur(1px);
  }

  // modal content styles the contents of the modal
  .modal-content {
    position: absolute;
    z-index: 10;
    border-radius: 5px;
  }
}

.hide-modal {
  display: none;
}
