// GLOABL THEME IMPORTS
@import "../../assets/theme";

// Main parent class of the review component.
.review {
  height: 100%;
  width: 100%;

  background-color: $background_light;

  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: stretch;

  border: 1px solid transparent;

  // Class used to style the user information section of the review.
  .review-user-info {
    width: min-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0.5rem;

    overflow-wrap: anywhere;
    text-align: right;

    img {
      height: 5rem;
      width: 5rem;
      object-fit: cover;

      margin: 0.3rem 0;

      border-radius: 2px;
    }

    svg {
      height: 5rem;
      width: 5rem;

      margin: 0.3rem 0;
      fill: $secondary;
    }

    p {
      font-weight: bold;
      font-size: 0.8rem;
    }

    p.username {
      font-weight: normal;
      width: 100%;
      text-align: center;
      background-color: $secondary;
      color: $background_light;
      letter-spacing: 0.05rem;
      padding: 0.1rem;
    }
  }

  // Class used to style the reviews contents section.
  .review-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-wrap: anywhere;

    position: relative;

    margin: 0.8rem 0.5rem 0.5rem 0.5rem;

    p {
      width: 100%;
      z-index: 10;
      font-size: 1.1rem;
      line-height: 1.5rem;

      margin: 0.5rem 0 0.5rem 0.1rem;
    }
  }

  // Class used to style the reviews photos.
  .review-photos {
    width: 5rem;
    margin: 0.5rem 0.5rem;
  }
}

// Classes used for on hover effect of the review component.
section.review:focus,
section.review:hover {
  outline: none;
  border: 1px solid $secondary_dark;
}
