@import "../../assets/theme";

.review {
  height: 100%;
  width: 100%;

  background-color: white;
  border-radius: 10px;

  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: stretch;

  .review-user-info {
    // height: min-content;
    width: min-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0.5rem;

    overflow-wrap: anywhere;
    text-align: right;

    img {
      height: 5rem;
      width: 5rem;
      object-fit: cover;

      margin: 0.3rem 0;

      border-radius: 10px;
    }

    p {
      font-weight: bold;
    }
  }

  .review-content {
    // flex-grow: 5;
    // flex-shrink: 0;
    // height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-wrap: anywhere;

    position: relative;

    margin: 0.8rem 0.5rem 0.5rem 0.5rem;

    p {
      width: 100%;
      z-index: 10;

      margin: 0.5rem 0 0.5rem 0.1rem;
    }
  }

  .review-photos {
    // height: min-content;
    width: 5rem;

    margin: 0.5rem 0.5rem;
  }
}

section.review:hover {
  box-shadow: $strong_box_shadow;
}
