/*
  Contributors: Tiffany Lam 
  Course: CECS 470

  Description: This is the login component's style sheet. Here we define the the container and the graphics of the image with our logo on it. We also style the custom errors that appear for validation. 

*/
@import "../../assets/theme";

.login-container {
  // margin: 0.5em 30px;
  background-color: $background;

  display: flex;
  flex-direction: column;
  padding: 1rem;

  .login-graphic {
    margin-top: 1rem;
    width: 100%;

    height: 10rem;
    position: relative;
    overflow: hidden;
    //this is the span that holds our text "appËtite"
    span {
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      color: $background_light;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: bold;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    // background-color: red;

    img {
      overflow: hidden;
      width: 100%;
      height: 100%;
      filter: blur(2px);
      object-fit: cover;
    }
    a.forget-password-link{
      text-align: center !important;
      text-decoration: underline !important;
    }
  }
  //login error messages
  .login-error-msg {
    font-size: 0.8rem;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0.5rem;

    width: 100%;
    display: flex;
    justify-content: center;

    animation: shake 500ms forwards linear;
  }

  .login-form {
    background-color: inherit;
    display: flex;
    flex-direction: column;

    .login-input-btn {
      margin-top: 2rem;
    }
  }
}
