/*
  Contributors: Tiffany Lam 
  Course: CECS 470

  Description: Very simple css style to add a margin for the reset button on password reset page
*/
@import "../../assets/theme";
.reset-pass-btn{
    margin-top: 1em;
    margin-bottom: 1em;
}
    

