/*
  Contributors: Tiffany Lam 
  Course: CECS 470

  Description: This is the register user type style. This adds some margins and styles of the 2 types

*/
@import "../../assets/theme";

.register-user-type {
  width: 100%;

  width: 20rem;

  border-radius: 3px;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  // justify-content: space-between;

  background-color: $background;
  form {
    .setType {
      margin: 1rem 0;
    }
  }
}
