@import "../../assets/theme";

.select-user-form {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .radio-label {
    padding: 0.25rem 0.5rem;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    // background-color: red;

    input {
      position: absolute;
      top: 0;
      left: 0;
      // padding-left: 1rem;
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
    }
  }

  .selected {
    background-color: $primary;
    span {
      color: $background_light;
    }
  }
}
