@import "../../assets/theme";

$user_type_border: 1px solid lightgray;
.select-user-form {
  width: 100%;

  display: flex;
  // justify-content: space-between;
  align-items: center;
  // max-height: 2rem;

  .user-type-label {
    // flex-grow: 1;
    margin-left: 0.15rem;
    font-size: 0.8rem;
    text-transform: uppercase;

    font-weight: bold;
    color: $secondary_dark;
    margin-right: 0.5rem;
  }

  .radio-label {
    border-top: $user_type_border;
    border-bottom: $user_type_border;
    background-color: $background_light;
    flex-grow: 1;
    // max-height: 2rem;
    padding: 0.25rem 0.5rem;
    padding: 0.25rem 0.25rem;

    position: relative;
    cursor: pointer;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    // background-color: red;

    span {
      // color: white;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
    }
  }

  #patron-lbl {
    border-left: $user_type_border;
  }

  #owner-lbl {
    border-right: $user_type_border;
  }

  .selected {
    // background-color: $primary;
    // border: 1px solid $secondary;
    // padding: 0.15rem 0.4rem;

    span {
      color: $background_light;
      background-color: red;

      background-color: $primary;

      height: 80%;
      width: 100%;

      display: flex;
      justify-content: center;
    }
  }
}
