@import "./assets/theme";

.App {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $background;
  // overflow: hidden;

  header {
    position: fixed;

    z-index: 2; // header needs to be on top of everything

    width: 100%;
    display: flex;
    justify-content: center;
    background-color: red;
  }

  main {
    margin-top: 3.5rem; // IMPORTANT: change value as navbar height changes
    flex-grow: 1;

    z-index: 1;

    width: 100%;
    display: flex;
    justify-content: center;
    background-color: green;
  }

  footer {
    z-index: 0;

    width: 100%;
    display: flex;
    justify-content: center;
    background-color: blue;
  }
}
