@import "./assets/theme";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $background;

  header {
  }

  main {
    flex-grow: 1;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
