@import "./assets/theme";

@mixin center_content {
  width: 100%;
  display: flex;
  justify-content: center;
}

html {
  width: 100%;
  height: 100%;
  body {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    #root {
      width: 100%;
      flex-grow: 1;

      // CHANGE BG GRADIENTS HERE:
      // background: linear-gradient(
      //   45deg,
      //   rgba(28, 73, 219, 0.2) 0%,
      //   rgba(191, 96, 255, 0.2) 100%
      // );

      //// OR

      // CHANGE BG COLOR HERE:
      background-color: $background;
    }
  }
}

.App {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  // background-color: purple; // for test and debugging

  header {
    z-index: 2; // header needs to be on top of everything
    background-color: $background;

    position: fixed;
    top: 0;
    left: 0;

    @include center_content();
    // background-color: red; // for test and debugging
  }

  main {
    z-index: 0;
    // background-color: $background;

    margin-top: 4rem;
    // padding-top: 4rem; // important value (change as navbar changes)
    // padding-bottom: 4rem; // important value (change as footer changes)
    flex-grow: 1;

    @include center_content();
    // background-color: green; // for test and debugging
    // background-color: white;
  }

  footer {
    z-index: 1;
    background-color: $secondary;
    margin-top: 1rem;

    // position: sticky;
    // bottom: 0;
    // left: 0;
    // margin-bottom: 1rem;

    @include center_content();
    // background-color: blue; // for test and debugging
  }
}

// DEFAULT CASE (SCREEN SIZE > 1024px) :
// .App,
// .header-nav,
// .footer-nav {
//   // background-color: pink; // for testing and debugging
//   width: $page_width_L;
//   transition: width 200ms linear;
// }

// // WHEN SCREEN SIZE HITS 1024PX:
// @media (max-width: 1024px) {
//   .App,
//   .header-nav,
//   .footer-nav {
//     // background-color: yellow; // for testing and debugging
//     width: $page_width_M;
//   }
// }

// // WHEN SCREEN SIZE HITS 768px:
// @media (max-width: 768px) {
//   .App,
//   .header-nav,
//   .footer-nav {
//     // background-color: rebeccapurple; // for testing and debugging
//     width: $page_width_S;
//   }
// }

// WHEN SCREEN SIZE HITS 480px:
// @media (max-width: 480px) {
//   .App,
//   .header-nav,
//   .footer-nav {
//     // background-color: orangered; // for testing and debugging
//     width: $page_width_XS;
//   }
// }
