@import "../../assets/theme";

@mixin interactionSelect {
  &:hover,
  &:active,
  &:focus,
  &:focus-within {
    outline: none;
    border: 1px solid $secondary_dark;
    // background-color: red;
  }
}

.pagination-nav {
  margin-top: 1rem;
  width: 100%;
  .pagination ul {
    display: flex;
    display: inline-block;
    width: 100%;
  }

  .pagination li a {
    color: $secondary;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid lightgray;
    background-color: $background_light;
    margin-right: 0.25rem;

    @include interactionSelect();
  }

  li.page-item.active {
    a.page-link {
      background-color: $primary;
      color: white;
      border: 1px solid $primary;
      @include interactionSelect();

      // border: 0;
    }
  }

  .pagination a:hover:not(.active) {
    border: 1px solid $secondary_dark;
    // background-color: $lime;
  }
}
