/*
  Contributors: Julie Do 014101748
  Course: CECS 470

  Description: This scss class styles the tabs component.
*/

// GLOBAL THEME IMPORTS
@import "../../assets/theme";

.tabs {
  height: 100%;
  width: 100%;
  background-color: transparent;

  display: flex;
  flex-direction: column;

  // background-color: red;

  li {
    display: inline;
  }

  ul {
    // margin: 0 0 1rem 0;
    //border-bottom: 1px solid $secondary;

    display: flex;
  }

  button {
    // background-color: inherit;
    cursor: pointer;
    // width: 33%;
  }
}
