@import "../../assets/theme";

.tabs {
  height: 100%;
  width: 100%;
  background-color: transparent;

  display: flex;
  flex-direction: column;

  li {
    display: inline;
  }

  ul {
    margin: 0 0 1rem 0;
    border-bottom: 1px solid $secondary;
  }

  button {
    // background-color: inherit;
    cursor: pointer;
  }
}
