/*
  Contributors: Sam Alhaqab 017018649
  Course: CECS 470

  Description: This scss class styles the hour range input component.
*/

// global theme imports
@import "../../assets/theme";

// parent container for the hour range input, which holds both the to and from hour inputs
.hour-range-input-container {
  position: relative;
  display: grid;

  gap: 0.2rem;
  grid-template-columns: 1fr 0fr 1fr 0fr 1fr;
  grid-template-areas: "time-label label-from input-from label-to input-to";

  // selects grid area for from hour label
  .label-from {
    grid-area: label-from;
  }

  // selects grid area for to hour label
  .label-to {
    grid-area: label-to;
  }

  // selects grid area for from input
  .input-from {
    grid-area: input-from;
  }

  // selects grid area for to input
  .input-to {
    grid-area: input-to;
  }

  // styles the actual inputs used for the hour rnages
  .hour-range-input {
    height: 2rem;
    min-height: 2rem;

    width: 7rem;

    width: 100%;
    height: 100%;

    padding: 0 0.3rem;

    border: 1px solid lightgray;

    &:hover,
    &:focus,
    &:focus-within {
      outline: none;
      border: 1px solid $secondary_dark;
    }

    &:read-only {
      background-color: #ececec;
      cursor: not-allowed;
    }
  }

  // styles the passed in and visible label of the hour range (not the labels for the individual inputs)
  .hour-range-input-label {
    grid-area: time-label;
    background-color: #ececec;
    border: 1px solid lightgray;

    width: 100%;
    height: 2rem;
    min-height: 2rem;

    text-transform: uppercase;
    color: $secondary_dark;

    font-size: 1rem;

    font-weight: normal;
    letter-spacing: 0.05rem;

    padding: 0.5rem 1rem;
    margin-right: 0.2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    .required-asterisk {
      font-weight: bold;
      font-size: 1em;
      color: red;
    }
  }
}

// reorders the layout of the hour range input when shrunk
@media (max-width: 480px) {
  .hour-range-input-container {
    display: grid;

    grid-template-columns: 0fr 1fr 0fr 1fr;
    gap: 0;

    grid-template-areas:
      "time-label time-label time-label time-label"
      "label-from input-from label-to input-to";
    .hour-range-input {
      margin-left: 0;
    }
  }
}
