/* 
  Author: Tiffany Lam 
  Main function: Simple css styling for the margins and format of pagination and sorttby dropdown. 

 */
.sortby{
  margin: 0.7rem;
  float: right;
}

.pagination-container{
  margin-inline-start: 0.7rem;
}

.card-margin {
  margin: 0.7rem;
}
